<!-- templates/register.html -->
{% extends "base.html" %}
{% block content %}
<h2>Регистрация</h2>
<form method="POST">
    <div class="mb-3">
        <label>Логин</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Пароль</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
</form>
<p>Уже есть аккаунт? <a href="/login">Войти</a></p>
{% endblock %}